@model List<MVC_Jai.Models.Mobile>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MobilesShop</title>
</head>
<body>
    <div>
        Welcome to my mobile shop<br />
        Brand names:<br />
        @foreach (var item in Model)
        {
            <font color="Red"> @item.Brand</font><br />
        }
        <br />
        Model Names :<br />
        @foreach (var item in Model)
        {
            <font color="Green"> @item.ModelNumber</font><br />
        }


        

    </div>
</body>
</html>
