


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>viewBagTempDataSample</title>
</head>
<body>
    
    <div>
        @Html.Partial("logo")
        <form action="" method="post">
            I am Jai from Viewbag

            @ViewBag.MyName
            @TempData["MyName"]
            <input type="submit" value="Post" />
        </form>
    </div>
</body>
</html>
